body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.certificate {
    background-color: white;
    padding: 40px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    height: 100px;
}

.logo-content {
    order: 1;
}

.text {
    order: 2; /* Change the order to 1 if you want the logo on the right */
    text-align: center;
}

h1 {
    text-align: center; /* Center the title */
}

.reg-number {
    color: red; /* Make the number red */
}

.border {
    border-top: 2px solid black; /* Add a top border to create the separation line */
    padding: 20px;
}

