body {
    margin: 0;
    padding: 3rem;
    font-family: Arial, sans-serif;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .logo-content img {
    width: 100px;
    height: 100px;
  }

  .logo-content {
    margin-top: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3rem;
  }

  .registration-num h4 span {
    color: red;
  }

  main {
    border: solid black;
    min-height: 100vh;
  }

  section {
    padding-bottom: 1rem;
  }

  .general-info-header-1 {
    background-color: #ddccff;
    text-align: center;
    padding: 0.3rem;
    border-bottom: solid black;
  }
  
  .general-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .gender-age {
    display: flex;
    gap: 2rem;
  }

  .general-info-header-2 {
    background-color: #ddccff;
    padding: 0.3rem;
    border-bottom: solid black;
    border-top: solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .unit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .unit div {
    display: flex;
    gap: 1rem;
  }

  .general-info-2 {
    margin-top: 2rem;
    display: flex;
    justify-content: start;
  }
  
  .subjects {
    margin-left: 2rem;
    display: flex;
    gap: 3rem;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .units {
    margin-left: 0.1rem;
    display: flex;
    gap: 2rem;
  }

  .credits {
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .section {
    margin-left: -5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .schedule {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .prof {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-decoration: underline;
  }

  .total-unit {
    text-decoration: overline;
    font-weight: bold;
  }

.total-units {
  margin-left: 10rem;
  font-weight: bold;
}

.note {
  margin-left: 1rem;
  margin-top: 2rem;
  font-style: italic;
}

.main-container {
  padding: 20px 40px;
  display: flex;
  box-sizing: border-box;
}


.left-box {
  border: 1px solid black;
  box-sizing: border-box;
  flex: 1;
  margin-right: 0rem;
}

.right-content {
  flex: 1;
  margin-left: 3rem;;
}

.fees {
  background-color: #ddccff;
  text-align: center;
  padding: 0.3rem;
  border-bottom: solid black;
}

.fees-content {
  padding: 1rem;
  display: flex;
  border-bottom: solid black;
}

.content {
  display: flex;
  flex-direction: column;
}

.content2 {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: 2rem;
}

.total-a {
  margin-left: 5rem;
}

.total-b {
  text-decoration: overline;
  margin-left: 8rem;
}

.total {
  padding-left: 2rem;
  margin-top: 0rem;
  display: flex;
  border-bottom: solid black;
  font-weight: bold;
}

.php {
  margin-left: 1rem;
}

.payment {
  padding-left: 2rem;
  display: flex;
  border-bottom: solid black;
  font-weight: bold;
}

.total-c {
  margin-left: 6.5rem;
}

.total-d {
  margin-left: 13rem;
}

.balance {
  padding-left: 2rem;
  display: flex;
  border-bottom: solid black;
  font-weight: bold;
}

.bal {
  margin-left: 3.5rem;
}

.total-e {
  text-decoration: overline;
  margin-left: 8rem;
}

.schedule-p {
  background-color: #ddccff;
  text-align: center;
  padding: 0.2rem;
  margin-left: 0rem;
  border-bottom: solid black;
}

.payments {
  border-collapse: collapse;
  width:518px;
  border-width: thin;
  font-weight: normal;
}

.payments td { 
  border: solid black;
  border-width: thin;
  text-align: center;
}

.rules {
  text-align: center;
}

.rule {
  margin-top: 2rem;
  font-style: italic;
  padding-left: 2rem;
}

.receipt {
  margin-top: 5rem;
  font-weight: bold;
  padding-left: 2rem;
}

.or {
  margin-left: 6rem;
}

.validate {
  margin-top: 2rem;
  font-weight: bold;
  padding-left: 2rem;
}

.vdate {
  text-decoration: underline;
  margin-left: 2rem;
  font-weight: bold
}

.approved {
  margin-top: 5rem;
  padding-left: 5rem;
}

.reg {
  text-decoration: overline;
  margin-top: 2rem;
  margin-left: 9rem;
  padding-left: 5rem;
  font-weight: bold;
}

.date-p {
  margin-top: 5rem;
  text-align: right;
}

.cert {
  background-color: #ddccff;
  text-align: center;
  padding: 0.2rem;
  margin-left: 0rem;
  border-top: solid black;
  border-bottom: solid black;
  margin-bottom: -1rem;
}

